.auth {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .icon {
    padding-top: 15vh;
  }
  .text {
    padding: 50rpx 0 100rpx;
  }
  .btn {
    width: 100%;
    padding: 0 40rpx;
  }
}
