/* weapp */
page,
body {
  height: 100%;
  background-color: $bgColor;
}

.text {
  font-size: $textSize;
  color: $textColor;
  line-height: 1.5;
}

view,
text,
scroll-view {
  box-sizing: border-box;
}

button {
  &:after {
    display: none;
  }
}

/* h5 */
/*postcss-pxtransform rn eject enable*/
div {
  box-sizing: border-box;
}

button {
  outline: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
